@import url("http://fonts.cdnfonts.com/css/latin-modern-math");

.AboutUs {
  color: aliceblue;
  font-family: "Latin Modern Math", "sans-serif", "Vibur", "cursive";
}

.AboutUs h3 {
  text-align: center;
}

@media screen and (max-width: 718px) {
  .AboutUs p {
    font-size: 14px;
  }
}
