@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

.HeaderInfor {
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
  bottom: 2vw;
  padding-left: 40px;
}

.HeaderInfor-img {
  width: 20%;
  height: auto;
  margin: 0;
  padding: 0;
}

.HeaderInfor-img img {
  border-radius: 999px;
  width: 100%;
  object-fit: cover;
}
/*-- Sign Styles --*/

.HeaderInfor-name {
  width: 14vw;
  font-family: "Vibur", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderInfor-name span {
  font-size: 2vw;
  background: linear-gradient(
    to right,
    rgb(115, 198, 253) 20%,
    rgb(72, 106, 255) 40%,
    rgb(37, 13, 255) 60%,
    rgb(0, 85, 141) 80%,
    rgb(65, 170, 240) 100%
  );
  background-size: 150%;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 300%;
  }
}
/*-- Animation Keyframes --*/

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

.HeaderInfor-contact {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: rgb(161, 213, 255);
  /* color: rgb(49, 159, 255); */
  font-size: 0.6vw;
  /* width: 430px; */
}

.HeaderInfor-contact,
.HeaderInfor-contact a,
.HeaderInfor-contact i {
  color: rgb(161, 213, 255);
}

.HeaderInfor-contact a {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .HeaderInfor-name {
    width: 25%;
  }
  .HeaderInfor-contact {
    font-size: 1vw;
  }
}

@media screen and (max-width: 718px) {
  .container-custom {
    width: 80%;
  }
  .HeaderInfor-name {
    width: 30%;
  }
  .HeaderInfor-name span {
    font-size: 3vw;
  }
  .HeaderInfor-contact a,
  .HeaderInfor-contact-address {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 414px) {
  .HeaderInfor-contact {
    display: none;
  }
  .HeaderInfor {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .HeaderInfor-img {
    width: 30%;
  }
  .HeaderInfor-name {
    width: 100%;
    padding: 10px 0;
  }
  .HeaderInfor-name span {
    font-size: 5vw;
  }
}
