.container-custom {
  width: 70%;
}

@media screen and (max-width: 718px) {
  .container-custom {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .container-custom {
    width: 80%;
  }
}
