.list-group {
  background-image: url(/src/images/wall.jpg);
  text-transform: uppercase;
}

.list-group a {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1vw;
  color: rgb(161, 213, 255);
  font-family: "Vibur", cursive;
  font-weight: 300;
}

@media screen and (max-width: 718px) {
  .Sidebar {
    padding: 0;
  }
  .list-group a {
    font-size: 11px;
  }
}
