* {
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/src/images/wall.jpg);
  /* height: 100vh; */
}

#root {
  width: 100%;
}

.App {
  margin: 0 auto;
  padding: 0;
}
