@import url("http://fonts.cdnfonts.com/css/latin-modern-math");

* {
  box-sizing: border-box;
  font-family: "Latin Modern Math", "sans-serif", "Vibur", "cursive";
}

html {
  /* font-size: 62.5%; */
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/src/images/wall.jpg);
  /* height: 100vh; */
}

#root {
  width: 100%;
}

.App {
  margin: 0 auto;
  padding: 0;
}
